---
import type { Props } from "@astrojs/starlight/props";
import { Accordion, AccordionItem } from 'accessible-astro-components'
const { header, projectName, maxCodeHeight = 600, outputHeight = 300} = Astro.props;

//const srcURL = "https://thoth-tech.github.io/SplashkitOnline";
const srcURL = "http://127.0.0.1:8000/";

const codeSnippetID = `code-activity-${crypto.randomUUID()}`
const iFrameID = `code-activity-${crypto.randomUUID()}`
---
<Accordion>
  <AccordionItem header={header}>

<iframe style="opacity: 0;" id={iFrameID} data-src={srcURL+"?language=C++&useEmbeddedInterface=on&projectID="+projectName} class="ide-embed"/>

<div style="display:none;" id={codeSnippetID}><slot /></div>

<script data-codesnippetid={codeSnippetID} data-iframeid={iFrameID} data-maxcodeheight={maxCodeHeight} data-outputheight={outputHeight}, data-resources={resources}>
    let scriptData = document.currentScript.dataset;

    let SKO = document.getElementById(scriptData.iframeid);

    // Extract code snippet + editable blocks from the hidden markdown code block
    // This feels brittle...
    let codeSnippet = "";
    let blocks = [];

    // Where the lines of code exist (as child nodes)
    let codeElements = document.getElementById(scriptData.codesnippetid).getElementsByTagName("code")[0];
    let currentBlock = null;
    let lineIndex = 0;

    for (const line of codeElements.childNodes) {
        // empty lines textContent returns \n, handle that here
        if (line.textContent == "\n")
            codeSnippet += "\n";
        else
            codeSnippet += line.textContent.replace("####","")+"\n"; // use #### to allow leading spaces
        lineIndex += 1;

        // handle detecting editable blocks
        if (line.classList.contains("mark")) {
            if (currentBlock == null) {
                let name = window.getComputedStyle(line).getPropertyValue("--tmLabel").slice(1,-1);
                currentBlock = {lineStart: lineIndex, name: name};
                blocks.push(currentBlock);
            }
            currentBlock.lineEnd = lineIndex
        }
        else {
            currentBlock= null;
        }
    }

    codeSnippet = codeSnippet.slice(0,-1); // remove trailing \n

    // Compute and set iFrame height
    const line_height = 19.5; /* computed from the IDE page */
    let approximateCodeHeight = line_height * (codeSnippet.split("\n").length + 1);
    let finalIFrameHeight = Math.min(approximateCodeHeight, parseFloat(scriptData.maxcodeheight)) + parseFloat(scriptData.outputheight);
    SKO.style.height = `${finalIFrameHeight}px`;


    async function loadAndShowIDE(){
        SKO.src = SKO.dataset.src;
        SKO.style.opacity = "1";

        // Initialize the window with the code + editable code blocks (if there are any)
        window.addEventListener('message', function(event) {
            if (event.data.type === 'SplashKitOnlineListening') {
                const message = {
                    eventType: 'InitializeProjectFromOutsideWorld',
                    files: [{ path: '/code/main.cpp', data: codeSnippet }],
                };
                SKO.contentWindow.postMessage(message, '*');

                if (blocks.length > 0){
                    const message = {
                        eventType: 'EnterBlockEditMode',
                        files: [{ path: '/code/main.cpp', blocks: blocks }],
                        styles: ["highlight"],
                    };
                    SKO.contentWindow.postMessage(message, '*');
                }
            }
        });
    }

    // find the Accordion's button...'
    let button = document.currentScript.parentNode.parentElement.parentElement.parentElement.getElementsByTagName("button")[0];
    button.addEventListener("click", function(){
        loadAndShowIDE();
    }, {once : true});
</script>

<style>
    .ide-embed {
        border:0;
        width:100%;
        box-shadow: var(--sl-shadow-md);
        border-radius: 0.6rem;
        transition: opacity 4s;
    }
</style>

  </AccordionItem>
</Accordion>
