---
import { LinkCard, Card } from "@astrojs/starlight/components";
import { Image } from "astro:assets";

const { name, url, avatar_url } = Astro.props;
---

<style>
  p {
    font-family: "antique-olive", cursive, sans-serif;
  }
</style>



test

<div>
  <Image src={avatar_url} alt={name} width={50} height={50} />
</div>

<Card title={name}>
  <Image src={avatar_url} alt={name} width={50} height={50} />
  <p>{name}</p>
  <p>{url}</p>
</Card>

<LinkCard title={name} href={url}>
  <Image src={avatar_url} alt={name} width={50} height={50} />
</LinkCard>
